# Server Configuration

NODE_ENV=development
PORT=3000
PROXY_PORT=3010

# Application Behavior
# Set to "true" to disable the startup prompt that asks to open the browser
NO_PROMPT=false
VITE_DEPLOY_ENV=LOCAL
